
.inbox-message.ng-leave,
.inbox-message.ng-enter{
  @include single-transition(all, .5s, ease-in-out);
  position: relative;
  display: block;
}

.inbox-message.ng-enter,
.inbox-message.ng-leave.ng-leave-active {
  @include opacity(0);
}
.inbox-message.ng-leave,
.inbox-message.ng-enter.ng-enter-active {
  @include opacity(1);
}

[ui-view].ng-leave,
[ui-view].ng-enter{
  position: absolute;
  left: 0;
  right: 0;
  @include single-transition(all, .5s, ease-in-out);
}

[ui-view].ng-enter,
[ui-view].ng-leave.ng-leave-active{
  @include opacity(0);
}

[ui-view].ng-leave,
[ui-view].ng-enter.ng-enter-active{
  @include opacity(1);
}
