$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Colors
$blue: #1D5288;
$light-blue: #7FC9FD;
$off-white: #FCFCFC;
$grey: #979797;
$light-grey: #F4F4F4;
$black: #000000;

$grayish: #9B9B9B;

$almost-black: #4A4A4A;

// Font

$font-default: 'Open Sans', sans-serif;
$font-weight-primary: 300;
$font-weight-heading: 400;

$main-color: $blue;

$color-font-nav-bot-active: $almost-black;
$color-font-nav-bot: $grayish;
$color-font-nav-top: $off-white;


$navbar-height: 8vh;
$content-height: 100vh - ($navbar-height * 2);



