$fontsize-sender: 14px;
$fontsize-unread: 12px;
$fontsize-date: 10px;
$fontsize-subject: 12px;
$fontsize-content: 12px;

@mixin preventOverflow(){
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin editBtnsIconStyle(){
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: 30px;
}

.inbox-container{
  background-color: $off-white;
  height: $content-height;
  margin: $navbar-height 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-right: 2px solid $grey;
  overflow-y: auto;
  overflow-x: hidden;

}

.inbox-message{
  background-color: $off-white;
  border-bottom: 2px solid $grey;
  padding: 0 20px;
  margin: 0 !important;
  height: 100px;

  &:hover{
    cursor: pointer;
  }

  &:last-of-type{
    border-bottom: none;
  }

  &.active{
    border-right: 5px solid $main-color;
    padding-right: 15px;
  }

  .inbox-message-container{
    padding-left: 0;
    padding-right: 0;
    margin-top: 9px;

    .heading{
      margin: 0 0 2px 0;

      .sender{
        font-size: $fontsize-sender;
        font-weight: 300;
        margin: 0;
        display: inline-block;
        max-width: 40%;
        line-height: 20px;
        float: left;
        @include preventOverflow;
      }

      .follow-up{
        margin-left: 5px;
        float: left;
        line-height: 20px;
      }

      .unread{
        margin-bottom: 0;
        margin-left: 5px;
        display: inline-block;
        color: red;
        float: left;
        line-height: 20px;
        font-size: $fontsize-unread;
      }

      .date{
        font-size: $fontsize-date;
        display: inline-block;
        float: right;
        margin-bottom: 0;
        color: #9B9B9B;
      }
    }

    .subject{
      font-size: $fontsize-subject;
      font-weight: 400;
      margin-bottom: 3px;
      max-width: 250px;

      @include preventOverflow;
    }
    .content{
      color: #9B9B9B;
      max-height: 40px;
      overflow-y: hidden;
      line-height: 20px;
      font-size: $fontsize-content;
      margin-bottom: 0;
    }
  }
  .arrow{
    text-align: center;
    padding: 0;

    .fa{
      line-height: 100px;
      font-size: 40px;
    }
  }

  .off-canvas-element{
    width: 200px;
    height: 100px;
    position: absolute;
    left: -200px;
    .del-btn{
      position: absolute;
      right: 0;
      height: inherit;
      width: 50%;
      background-color: red;
      border-bottom: 2px solid lighten(#FF0000, 20%);

      @include editBtnsIconStyle();
      .fa{
        color: $off-white;
      }
    }
    .follow-up-btn{
      position: absolute;
      left: 0;
      height: inherit;
      width: 50%;
      background-color: orange;
      border-bottom: 2px solid lighten(#FFA500, 20%);

      @include editBtnsIconStyle();
      .fa{
        color: $off-white;
      }

    }
  }
}

// IKKE FERDIG
.inbox-message{
  transform: translateX(0);
  -webkit-transition:transform .2s ease-in-out;
  -moz-transition:transform .2s ease-in-out;
  -o-transition:transform .2s ease-in-out;
  transition:transform .2s ease-in-out;
  &.delOpen{
    -webkit-transition:transform .2s ease-in-out;
    -moz-transition:transform .2s ease-in-out;
    -o-transition:transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
    transform: translateX(200px);
  }
}

@media (max-width: $screen-md) {
  .inbox-message{
    padding-right: 0;

    &.active{
      border-right: none;
      padding-right: 0;
    }
  }
}