.inbox-container{
  background-color: green;
  height: 500px;
  margin-top: 90px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.inbox-message{
  background-color: $off-white;
  border: 2px solid #979797;
  padding: 0 20px;
  margin: 0 !important;
  height: 130px;

  div{
    padding-left: 0;
    padding-right: 0;
  }

  .sender{
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0;
    display: inline-block;
  }

  .date{
    display: inline-block;
  }
  .subject{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .content{
    color: #9B9B9B;
    max-height: 60px;
    overflow-y: hidden;
    line-height: 20px;
  }

  .arrow{
    background-color: black;
  }


}