$bg: $main-color;
$fg: $off-white;


.login-container{
  padding-top: 150px;
  min-width: 300px;
  margin: 0 auto;


  img{
    max-width: 260px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
  }
  form{
    input{
      border: none;
      border: 2px solid $fg;
      border-radius: 4px;
      background-color: $bg;
      margin: 0 auto;
      display: block;
      text-align: center;
      margin-bottom: 20px;

      width: 300px;
      height: 50px;

      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 20px;
      color: $fg;
    }
    input[name="submit"]{
      background-color: $fg;
      color: $bg;
      font-weight: 300;
    }
    @include webkitPlaceholder($fg);
    @include mozPlaceholder1($fg);
    @include mozPlaceholder2($fg);
    @include msPlaceholder($fg);
  }
}


