.navigation-top{
  height: $navbar-height;
  background-color: $main-color;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  ul{
    margin-bottom: 0;
    list-style-type: none;
    text-align: center;
    padding: 0;
    zoom: 1;

    .menu-element{
      width: auto;
      display: inline-block;
      line-height: $navbar-height;

      &.new-message-btn{
        float: left;
        margin-left: 20px;
      }
      &.edit-btn{
        float: right;
        margin-right: 20px;
        .active-state{
          display: none;
        }

        &.edit-mode{
          .active-state{
            display: inline-block;
          }
          .normal-state{
            display: none;
          }
        }
      }

      &.logo-container{
        float: right;
        margin-right: 20px;
        .dhis-logo{
          height: $navbar-height;
        }
      }
      a{
        .fa{
          margin-right: 5px;
        }
        text-decoration: none;
        font-size: 18px;
        color: $color-font-nav-top;
      }
    }
  }
}

.navigation-bottom{
  height: $navbar-height;
  background-color: $light-grey;
  border-top: 1px solid $grey;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    zoom: 1;
    display: inline-block;

    .menu-element{
      width: 140px;
      display: inline-block;
      line-height: $navbar-height - 2vh;
      a{
        text-decoration: none;
        font-size: 24px;
        color: $color-font-nav-bot;
      }
      &.active{
        border-top: 1vh solid $main-color;
        a{
          color: $color-font-nav-bot-active;
        }
      }
    }
  }
}

@media (max-width: $screen-md) {
  .navigation-bottom{
    ul{
      display: block;
      .menu-element{
        width: 30%;
      }
    }
  }
}