<div class="row inbox-message" ng-click="goToMessage(message)" ng-class="{active: currentMessage.id == message.id}">
  <div class="off-canvas-element">
    <div class="del-btn" ng-click="delMessage(message)">
      Del
    </div>
    <div class="follow-up-btn">FollowUp</div>
  </div>
  <div class="inbox-message-container col-lg-12 col-md-12 col-sm-11 col-xs-11">
    <div class="heading row">
      <p class="sender">{{message.lastSenderFirstname + " " + message.lastSenderSurname + " (" + message.messageCount + ")"}}</p>

      <i ng-show="message.followUp" class="fa fa-star-o follow-up"></i>
      <p ng-hide="message.read" class="unread">Unread!</p>
      <p class="date">{{message.lastMessage | dateFilter}}</p>
    </div>
    <p class="subject">{{message.subject}}</p>
    <p class="content">{{message.messages[0].name}}</p>
    <div> {{message.read}}</div>
  </div>
  <div class="arrow hidden-lg hidden-md col-sm-1 col-xs-1">
    <i class="fa fa-angle-right"></i>
  </div>
</div>