<navbar-top></navbar-top>

<div class="inbox-container container col-lg-3 col-md-3 col-xs-12">
  <inbox-message data-ng-repeat="message in allMessages|filter:filterProp|orderBy:orderProp:reverse=true"></inbox-message>
</div>

<div class="message-container col-lg-9 col-md-9 hidden-xs hidden-sm">
  <div class="to-and-from-container">
    <p>From: {{currentMessage.lastSenderFirstname}} {{currentMessage.lastSenderSurname}}</p>
    <p>To: <span data-ng-repeat="obj in currentMessage.userMessages">
    {{obj.user.name}},
  </span></p>
  </div>

  <h3>{{currentMessage.subject}}</h3>
  <p>{{currentMessage.lastMessage | dateFilter}}</p>


  <div class="single-message-container" data-ng-repeat="msg in currentMessage.messages">
    <div class="header">
      <h6 class="sender">{{msg.sender.name}}</h6>
      <h6 class="timestamp">{{msg.created | dateFilter}}</h6>
    </div>
    <p class="message">{{msg.name}}</p>
  </div>
</div>

<navbar-bottom setfilter="setFilter()"></navbar-bottom>