<nav class="navbar-fixed-top navigation-top">
  <ul>
    <li class="menu-element new-message-btn">
      <a ui-sref="newMessage">
        <i class="fa fa-plus fa-lg"></i>
        New message
      </a>
    </li>
    <li class="menu-element edit-btn hidden-lg hidden-md">
      <a href="#">
        <i class="fa fa-cogs fa-lg"></i>
        Edit
      </a>
    </li>
    <li class="menu-element logo-container visible-lg visible-md">
      <img class="dhis-logo img-responsive" src="img/dhis2.png" alt="DHIS2 logo"/>
    </li>
  </ul>
</nav>