<div class="inbox-container container col-lg-3 col-md-3 col-xs-12">
  <h1>New Message</h1>

  <div>
    <label>Message subject</label>
    <input type="text" value="{{ subject }}"/>
  </div>
  <div>
    <label>Text</label>
    <input type="text" value="{{ text }}"/>
  </div>
  <button ng-click="sendMessage()">Send message</button>

  <h5>Receivers</h5>

  <ul>
    <li ng-repeat="user in userRecipients">{{ user }}</li>
  </ul>

  <hr/>
  <div>
    <ul>
      <li ng-repeat="user in allUsers" ng-click="userRecipients.push(user.id)">{{ user.name }}</li>
    </ul>
  </div>

</div>
