<navbar-top settings="NAV_TOP"></navbar-top>

<div ui-view class="new-message-view container col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h3>New Message</h3>

  <div class="input-group">
    <span class="input-group-addon">Subject</span>
    <input type="text" ng-model="newMessage.subject" class="form-control" placeholder="Insert subject..."/>
  </div>
  <div class="recipients-container col-lg-12">
    <h4>Recipients</h4>
    <ul>
      <li class="user-recipients" ng-repeat="user in userRecipients">{{user.name}}
        <i class="fa fa-times" ng-click="removeRecipient(user, 'user')"></i>
      </li>
      <li class="group-recipients" ng-repeat="group in groupRecipients">{{group.name}}
        <i class="fa fa-times" ng-click="removeRecipient(group, 'group')"></i>
      </li>
      <li class="org-unit-recipients" ng-repeat="orgUnit in orgUnitRecipients">{{orgUnit.name}}
        <i class="fa fa-times" ng-click="removeRecipient(orgUnit, 'orgUnit')"></i>
      </li>
    </ul>
  </div>


  <div id="carousel-recipient-selection" class="carousel slide" data-ride="carousel" data-pause="false" data-wrap="false">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#carousel-recipient-selection" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-recipient-selection" data-slide-to="1"></li>
      <li data-target="#carousel-recipient-selection" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active type-selector">
        <a class="carousel-control" href="#carousel-recipient-selection" role="button" data-slide="next" ng-click="updateSelector('user')">
          Add user
        </a>
        <a class="carousel-control" href="#carousel-recipient-selection" role="button" data-slide="next" ng-click="updateSelector('group')">
          Add group
        </a>
        <a class="carousel-control orgUnitSelector" href="#carousel-recipient-selection" role="button" data-slide="next" ng-click="updateSelector('orgUnit')">
          Add orgUnit
        </a>

      </div>
      <div class="item recipient-selector">
        <h4>Add {{selectorOptions.type}}</h4>
        <div class="input-group">
          <span class="input-group-addon">{{selectorOptions.type}}</span>
          <input type="text" class="form-control" placeholder="Start typing ..." list="recipientlist"/>
          <datalist id="recipientlist" ng-switch="selectorOptions.type">
            <span ng-switch-when="user">
              <option ng-repeat="user in allUsers" value="{{user.name}}"></option>
            </span>
            <span ng-switch-when="group">
              <option ng-repeat="group in allGroups" value="{{group.name}}">{{group.name}}</option>
            </span>
            <span ng-switch-when="orgUnit">
              <option ng-repeat="orgUnit in allOrgUnits" value="{{orgUnit.name}}">{{orgUnit.name}}</option>
            </span>
          </datalist>
        </div>

        <p>Hei</p>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-recipient-selection" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-recipient-selection" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="message-text-container">
    <textarea ng-model="newMessage.text" placeholder="Message content goes here ..." class="form-control" name="messagecontent" cols="30" rows="10"></textarea>
  </div>
  <button ng-click="sendMessage()">Send message</button>

  <hr/>
  <div>
    <h3>Users</h3>
    <ul>
      <li ng-repeat="user in allUsers" ng-click="addRecipient(user, 'user')">{{ user.name }}</li>
    </ul>
  </div>

  <div>
    <h3>Groups</h3>
    <ul>
      <li ng-repeat="group in allGroups" ng-click="addRecipient(group, 'group')">{{ group.name }}</li>
    </ul>
  </div>

  <div>
    <h3>Organization Units</h3>
    <ul>
      <li ng-repeat="orgUnit in allOrgUnits" ng-click="addRecipient(orgUnit, 'orgUnit')">{{ orgUnit.name }}</li>
    </ul>
  </div>

</div>
