<navbar-top></navbar-top>

<div class="new-message-view container col-lg-12 col-md-12 col-xs-12">
  <h1>New Message</h1>

  <div>
    <label>Message subject</label>
    <input type="text" ng-model="subject"/>
  </div>
  <div>
    <label>Text</label>
    <input type="text" ng-model="text"/>
  </div>
  <button ng-click="sendMessage()">Send message</button>

  <h5>User Receivers</h5>

  <ul>
    <li ng-repeat="user in userRecipients">{{ user }}</li>
  </ul>

  <h5>Group Receivers</h5>

  <ul>
    <li ng-repeat="group in groupRecipients">{{ group }}</li>
  </ul>

  <h5>Organization Unit Receivers</h5>

  <ul>
    <li ng-repeat="orgUnit in orgUnitRecipients">{{ orgUnit }}</li>
  </ul>

  <hr/>
  <div>
    <h3>Users</h3>
    <ul>
      <li ng-repeat="user in allUsers" ng-click="userRecipients.push(user.id)">{{ user.name }}</li>
    </ul>
  </div>

  <div>
    <h3>Groups</h3>
    <ul>
      <li ng-repeat="group in allGroups" ng-click="groupRecipients.push(group.id)">{{ group.name }}</li>
    </ul>
  </div>

  <div>
    <h3>Organization Units</h3>
    <ul>
      <li ng-repeat="orgUnit in allOrgUnits" ng-click="orgUnitRecipients.push(orgUnit.id)">{{ orgUnit.name }}</li>
    </ul>
  </div>

</div>

<navbar-bottom setfilter="setFilter()"></navbar-bottom>
