<div class="message-container singleView col-lg-12 col-md-12 col-xs-12">
  <div class="to-and-from-container">
    <p class="from-tag">From: <span>{{message.lastSenderFirstname}} {{message.lastSenderSurname}}</span></p>
    <p class="to-tag">To: <span data-ng-repeat="obj in message.userMessages">{{obj.user.name}}</span></p>
  </div>
  <div class="button-container">
    <button ng-click="setFollowUp(message)">Follow up</button>
    <button>Delete</button>
  </div>

  <h3 class="message-subject">{{message.subject}}</h3>


  <div class="single-message-container col-lg-12 col-md-12" data-ng-repeat="msg in message.messages" ng-class="{'last':$last}">
    <div class="header">
      <h6 class="sender">{{msg.sender.name}}</h6>
      <h6 class="timestamp">{{msg.created | dateFilterDetail}}</h6>
    </div>
    <p class="message col-lg-12 col-md-12">{{msg.name}}</p>
  </div>

  <div class="reply-container col-lg-12 col-md-12">
    <h5>Reply:</h5>
    <form ng-submit="replyFunction()" id="reply-form" class="col-xs-12">
      <textarea name="reply-message" ng-model="content"  class="col-xs-12" id="reply-box" rows="5"></textarea>
      <button class="reply-btn btn btn-primary">Reply</button>
    </form>
  </div>

</div>
