/* WebKit browsers */
/* Mozilla Firefox 4 to 18 */
/* Mozilla Firefox 19+ */
/* Internet Explorer 10+ */
.login-container {
  padding-top: 150px;
  min-width: 300px;
  margin: 0 auto; }
  .login-container img {
    max-width: 260px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px; }
  .login-container form input {
    border: none;
    border: 2px solid #FCFCFC;
    border-radius: 2px;
    background-color: #1D5288;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    width: 300px;
    height: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #FCFCFC; }
  .login-container form input[type="submit"] {
    background-color: #FCFCFC;
    color: #1D5288;
    font-weight: 300; }
  .login-container form ::-webkit-input-placeholder {
    color: #FCFCFC;
    font-weight: 300; }
  .login-container form :-moz-placeholder {
    color: #FCFCFC;
    opacity: 1; }
  .login-container form ::-moz-placeholder {
    color: #FCFCFC;
    opacity: 1; }
  .login-container form :-ms-input-placeholder {
    color: #FCFCFC; }

.message-container {
  margin: 8vh 0;
  background-color: #FCFCFC;
  height: 84vh;
  overflow: auto; }

.inbox-container {
  background-color: #FCFCFC;
  height: 84vh;
  margin: 8vh 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-right: 2px solid #979797;
  overflow: auto; }

.inbox-message {
  background-color: #FCFCFC;
  border-bottom: 2px solid #979797;
  padding: 0 20px;
  margin: 0 !important;
  height: 100px; }
  .inbox-message:last-of-type {
    border-bottom: none; }
  .inbox-message .inbox-message-container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 9px; }
    .inbox-message .inbox-message-container .heading {
      margin: 0 0 2px 0; }
      .inbox-message .inbox-message-container .heading .sender {
        font-size: 14px;
        font-weight: 300;
        margin: 0;
        display: inline-block;
        max-width: 40%;
        line-height: 20px;
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .inbox-message .inbox-message-container .heading .follow-up {
        margin-left: 5px;
        float: left;
        line-height: 20px;
        background-color: yellow; }
      .inbox-message .inbox-message-container .heading .unread {
        margin-bottom: 0;
        margin-left: 5px;
        display: inline-block;
        color: red;
        float: left;
        line-height: 20px;
        font-size: 12px; }
      .inbox-message .inbox-message-container .heading .date {
        font-size: 10px;
        display: inline-block;
        float: right;
        margin-bottom: 0;
        color: #9B9B9B; }
    .inbox-message .inbox-message-container .subject {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 3px;
      max-width: 250px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .inbox-message .inbox-message-container .content {
      color: #9B9B9B;
      max-height: 40px;
      overflow-y: hidden;
      line-height: 20px;
      font-size: 12px;
      margin-bottom: 0; }
  .inbox-message .arrow {
    background-color: #000000; }

.navigation-top {
  height: 8vh;
  background-color: #1D5288;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0; }
  .navigation-top ul {
    margin-bottom: 0;
    list-style-type: none;
    text-align: center;
    padding: 0;
    zoom: 1; }
    .navigation-top ul .menu-element {
      width: auto;
      display: inline-block;
      line-height: 8vh; }
      .navigation-top ul .menu-element.new-message-btn {
        float: left;
        margin-left: 20px; }
      .navigation-top ul .menu-element.edit-btn {
        float: right;
        margin-right: 20px; }
      .navigation-top ul .menu-element.logo-container {
        float: right;
        margin-right: 20px; }
        .navigation-top ul .menu-element.logo-container .dhis-logo {
          height: 8vh; }
      .navigation-top ul .menu-element a {
        text-decoration: none;
        font-size: 18px;
        color: #FCFCFC; }
        .navigation-top ul .menu-element a .fa {
          margin-right: 5px; }

.navigation-bottom {
  height: 8vh;
  background-color: #F4F4F4;
  border-top: 1px solid #979797;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .navigation-bottom ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    zoom: 1;
    display: inline-block; }
    .navigation-bottom ul .menu-element {
      width: 140px;
      display: inline-block;
      line-height: 6vh; }
      .navigation-bottom ul .menu-element a {
        text-decoration: none;
        font-size: 24px;
        color: #9B9B9B; }
      .navigation-bottom ul .menu-element.active {
        border-top: 1vh solid #1D5288; }
        .navigation-bottom ul .menu-element.active a {
          color: #4A4A4A; }

@media (max-width: 992px) {
  .navigation-bottom ul {
    display: block; }
    .navigation-bottom ul .menu-element {
      width: 30%; } }
.body {
  background-color: #1D5288; }

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

/*# sourceMappingURL=main.css.map */
